services:
- docker
env:
  global:
  - DOCKER_COMPOSE_VERSION=1.23.2
  - secure: "4YIGkJRbXKUUUFCfNBTUkk1Ui+Ae3d5wFGgd7stNWRZI2p5rb63OdQ8ef2Oxi63I4lIducpug8nGUQjRSPrUOEmBJsucp1qBKvYCs6JJ9bqYKTUFuNt5YFa8L+swqut/3xsE7a0oO1CMcpLSmm4VrkF2EC8ceHuBqu1BovmPG8PzyHqfaq5KPVKF9QP2EmVUjUCxNZtM3aF417mwkIGG1zdTIaK0r1WEO8lWgQ/kvtpO4xDKEBbm2echXDuNPXQt56fDvkabHmx+iVRJFoG1UyIU4ewWFmPo2QdvIala9I+yque2MgP1tJxUu0RQz3s3iG9EE7YeZYyKZuPuiKqxk5CX4/f29WMrLFX+e08yXYTFPwp5yRS8twyBdfyDBbQZiHySYxZNZpoP9OUiWIezvAUgK0SQEFBtieKSDzb+ddpQW6/2XEBjDxop8DeC07X00Itrh6gMo2Bgwf+/9UOauuPueMjyLcK7Qm75gPjZ7tUtipyZ7JrChgWsKmy3R+9hzmhCedD0XT4m8M2vPEPa08ocercPYsJAYMEUCauSHzpk4A2i93GEW+/7nGDKQ0sjYeFsbnCL6Oh42pSlk34ndZpF//QF/HiSgUalm5aP1Hb+jYaP05DmHr8vKbM6dxewvRZ1lJfY8YuzgZZtWiKP660w73jhgArU00IwmBTx16k="
  - secure: "w5y8BTCGRCTqqWxZTJXoCOapgg9IKHE/xtBmkGYrBqEZKhbk6kkdEHyWNgDD46mWMVXsHlHOA3Dg5Hokec+zGIkTNPpLofMXVSsLretNS+0XA3LJpfpFFQQIAWSqkjE1StjmNbdwTeuPb2thu4c87ytc8WY8ZQl/AhRKtggWR+ZIFMTLidA8Y+gQADqsikY7nNqn/myuPu9O5dYtIB+PwAqX+chplnY6Fz5TvlaA6gRvnbNn/gHhiFPt+MtqXQkdlHmV6okQweQTBZrEXQDDRa6v0G8kmikwvM8lbszLqVPUxhP+1xGoSy8zKV3g9GnBmLy8rHqNy792QWeLZgZikIWP2CdLcT0FZvdsXZ8KEQ1sgL+fadmBkNmx5QskAUec90MZWpvoxZc9DxxOG/GQIBTYNh7JGPcPin1/n57EbToj1CrPWkDNW+asGQQD0gJd5tHv21sQ7DZMjR1z859bHUIQeRWDBC7kckNF8pyePw7ct4FGMi06JCZpNeUoACMoHthwKiR+QsMnJnKNlCtEu6Z85lW4r+aSYYwm30+ixLV9NspLVr+8IjihbS+kbamKpLyvZNIjvW0wp8YCHounu5WKAYgxdsPkkPlTyz8mImHBJ9wW5UYbj4KLmJesRWliUfsV6pkTZBZ5usK/4YJ1OagipGu2vXCAcRc2nBkbFlE="
before_install:
- sudo rm /usr/local/bin/docker-compose
- curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname
  -s`-`uname -m` > docker-compose
- chmod +x docker-compose
- sudo mv docker-compose /usr/local/bin
- docker --version
- docker-compose version
- echo "Login into Docker Hub"
- echo $DOCKER_USERNAME
- echo $DOCKER_PASSWORD
- echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
- export GIT_SHA=`git rev-parse --short HEAD`
- echo "Building commit $GIT_SHA"
jobs:
  include:
  - stage: tests
    name: Unit Tests
    script:
    - cd Chapter04
    - docker-compose build db
    - docker-compose build test-postgresql
    - docker-compose run test-postgresql
  - stage: tests
    name: Static Analysis
    script:
    - cd Chapter04
    - docker-compose build static-analysis
    - docker-compose run static-analysis
  - stage: push
    script:
    - cd Chapter04
    - docker-compose build server
    - docker tag thoughts_server:latest brecht001be/thoughts-backend:$GIT_SHA
    - docker push brecht001be/thoughts-backend:$GIT_SHA
    - docker tag thoughts_server:latest brecht001be/thoughts-backend:$TRAVIS_BRANCH
    deploy:
    - provider: script
      script: docker push brecht001be/thoughts-backend:$TRAVIS_BRANCH
      on:
        branch: master
    - provider: script
      script: docker push brecht001be/thoughts-backend:$TRAVIS_TAG
      on:
        tags: true  
